In [3]:
import pandas as pd 
import numpy as np 
from sklearn.preprocessing import MinMaxScaler, LabelEncoder

data= {
    "Student": ["A", "B", "C", "D", "E", "F", "G"],
    "Math_Score": [85, 78, 90, 85, 95, 78, 88],
    "Study_Hours": [10, 8, 12, 6, 15, 2, 11],
    "Study_Group": ["Intermediate", "Beginner", "Advanced", "Beginner", "Advanced", "Beginner", "Intermediate"],
}

In [5]:
df = pd.DataFrame(data)
df.head()

  Student  Math_Score  Study_Hours   Study_Group
0       A          85           10  Intermediate
1       B          78            8      Beginner
2       C          90           12      Advanced
3       D          85            6      Beginner
4       E          95           15      Advanced

In [6]:
mean_math = np.mean(df["Math_Score"])
median_math = np.median(df["Math_Score"])
mode_math = df["Math_Score"].mode()[0]

print(f"Mean = {mean_math} , Median={median_math}, Mode={mode_math}")

Mean = 85.57142857142857 , Median=85.0, Mode=78

In [9]:
scaler = MinMaxScaler(feature_range=(0,1))
df["Normalized_study_hours"]=scaler.fit_transform(df[["Study_Hours"]])
df.head()

  Student  Math_Score  Study_Hours   Study_Group  Normalized_study_hours
0       A          85           10  Intermediate                0.615385
1       B          78            8      Beginner                0.461538
2       C          90           12      Advanced                0.769231
3       D          85            6      Beginner                0.307692
4       E          95           15      Advanced                1.000000

In [11]:
print("Normalized Study_Hours:")
print(df["Normalized_study_hours"].round(3).tolist())

Normalized Study_Hours:
[0.615, 0.462, 0.769, 0.308, 1.0, 0.0, 0.692]

In [13]:
def bin_study_hours(hours):
    if hours <= 5:
        return "Low"
    elif 6 <= hours <= 10:
        return "Medium"
    else:
        return "High"

df["Binned_Study_Hours"] = df["Study_Hours"].apply(bin_study_hours)
df.head()

,Student,Math_Score,Study_Hours,Study_Group,Normalized_study_hours,Binned_Study_Hours
0,A,85,10,Intermediate,0.615385,Medium
1,B,78,8,Beginner,0.461538,Medium
2,C,90,12,Advanced,0.769231,High
3,D,85,6,Beginner,0.307692,Medium
4,E,95,15,Advanced,1.000000,High

In [14]:
print("Binned Study_Hours:")
print(df["Binned_Study_Hours"].tolist())

Binned Study_Hours:
['Medium', 'Medium', 'High', 'Medium', 'High', 'Low', 'High']

In [15]:
label_encoder = LabelEncoder()
df["Encoded_Study_Group"] = label_encoder.fit_transform(df["Study_Group"])

df.head()

,Student,Math_Score,Study_Hours,Study_Group,Normalized_study_hours,Binned_Study_Hours,Encoded_Study_Group
0,A,85,10,Intermediate,0.615385,Medium,2
1,B,78,8,Beginner,0.461538,Medium,1
2,C,90,12,Advanced,0.769231,High,0
3,D,85,6,Beginner,0.307692,Medium,1
4,E,95,15,Advanced,1.000000,High,0

In [16]:
print("Label Encoded Study_Group:")
print(df["Encoded_Study_Group"].tolist())

Label Encoded Study_Group:
[2, 1, 0, 1, 0, 1, 2]